/**
 *  buttons.css
 *
*/

button {
    @include elevate(2);
    border: 2px solid transparent;
    padding: 0.75em 2em;
    margin: 0 0.5em 1em 0;
    border-radius: 0.5em;
    background: var(--bg);
    color: #fff;
    letter-spacing: 0.125em;
    cursor: pointer;
    vertical-align: baseline;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    overflow: hidden;

    &.is-hamburg {
        background: transparent !important;
        box-shadow: none !important;
        font-size: 1em;
        max-width: 1em;
        margin: 0 auto !important;
    }

    & > * {
        box-shadow: none !important;
        vertical-align: middle;
        justify-content: center;
        align-content: center;

        &:hover,
        &:active,
        &:focus {
            background: transparent !important;
        }
    }

    &:hover,
    .hover,
    :active,
    .active,
    :focus,
    .focused {
        @include elevate(4);
        transform: translateY(-0.25em);
    }

    &:focus {
        box-shadow: none !important;
    }

    &:not(.is-icon) > i {
        padding: 0 !important;
        margin: 0 0.5em 0 -0.5em !important;
    }

    & > i.dbl {
        clear: right !important;
        margin: 0 auto;
        margin-right: -0.5em !important;
        margin-left: 0.5em !important;
    }

    &.sm {
        font-size: 0.65em !important;
        letter-spacing: 0.125em !important;
    }

    &.lg {
        font-size: 1.35em !important;
        letter-spacing: 0 !important;
    }

    &.outlined {
        background: transparent !important;
        border: 2px solid var(--primary);
        box-shadow: none !important;
    }

    &.pill {
        border-radius: 6em !important;
    }

    &.btn--primary {
        background: linear-gradient(90deg, var(--primary-20), var(--primary-80));
        border: 2px solid var(--primary);
        color: #fff !important;

        &:hover,
        .hover {
            background: linear-gradient(90deg, var(--primary-60), var(--primary-80)) !important;
            -webkit-box-shadow: 0 8px 25px -8px var(--primary-40);
            box-shadow: 0 8px 25px -8px var(--primary-40) !important;
        }

        &:active,
        .active,
        :focus,
        .focused {
            filter: saturate(60%);
            color: var(--light) !important;
            box-shadow: none !important;
        }

        & > * {
            box-shadow: none !important;
            vertical-align: middle;
            justify-content: center;
            align-content: center;

            &:hover,
            &:active,
            &:focus {
                background: transparent !important;
                transform: none !important;
            }
        }

        &[disabled] {
            filter: saturate(0);
            color: var(--light);
            cursor: not-allowed;
            box-shadow: none !important;

            &:hover {
                transform: none !important;
            }
        }
    }

    &.is-icon {
        @include elevate(1);
        border-radius: 100% !important;
        padding: 0.5em !important;
        margin: 0 auto;
        justify-items: center;
        vertical-align: middle;
        background: transparent !important;
        box-shadow: none !important;

        &:hover,
        :active,
        :focus {
            background: transparent !important;
            transform: none !important;
        }
    }

    &.popover {
        @include elevate(4);
        margin: 0 1em !important;
        display: none;
        z-index: 9000 !important;
        position: absolute;
    }
}

.circle {
    border-radius: 100% !important;
    margin: 0 auto;
}

.ripple {
    position: relative;
    overflow: hidden;

    &:before {
        border-radius: 100%;
        background-color: var(--light-20);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
    }

    &:focus:before {
        transition: all 0.4s ease-out;
        opacity: 0;
        width: 160px;
        height: 160px;
        margin-top: -80px;
        margin-left: -80px;
    }
}
