/**
 *  colors.css
*/

.primary {
    background: var(--primary) !important;
    box-shadow: 1em 1em 3em var(--primary-20), 0 0 2em var(--primary-40) !important;
}

.success {
    background: var(--success) !important;
    box-shadow: 0 0 1em var(--success-20), 1em 2em 4em var(--success-40) !important;
}

.danger {
    background: var(--danger) !important;
    box-shadow: 0 0 1em var(--danger-20), 1em 2em 4em var(--danger-40) !important;
}

.warn {
    background: var(--warn) !important;
    box-shadow: 0 0 1em var(--warn-20), 1em 2em 4em var(--warn-40) !important;
}

.dark {
    background: var(--dark) !important;
    box-shadow: 0 0 1em var(--dark-20), 1em 2em 4em var(--dark-40) !important;
}

.light {
    background: var(--light) !important;
    box-shadow: 0 0 1em var(--light-20), 1em 2em 4em var(--light-40) !important;
}

.cube {
    width: 60px;
    height: 60px;
    transform-style: preserve-3d;
    transform: rotateX(240deg) rotateZ(-135deg);
    margin: 1em 2em;
    background: linear-gradient(to bottom, var(--dark), var(--dark-20));
    box-shadow: 0 30px 20px -0.5em var(--dark-20) !important;

    &:hover {
        transform: rotateX(220deg) rotateZ(-135deg) !important;
        box-shadow: 0 0 0 var(--dark-60) !important;
        background: transparent !important;
        cursor: pointer;
    }
}

.side {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.top {
    transform: translateZ(-60px);
    background: rgba(0, 0, 0, 0);
}

.front {
    transform: rotateX(90deg);
    transform-origin: bottom;
    position: absolute;
    width: 100%;
    background: var(--dark-20);
}

.left {
    transform: translateZ(-60px) rotateY(90deg);
    transform-origin: right;
    background: var(--dark-40);
}


.text-primary {
    color: var(--primary) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-warn {
    color: var(--warn) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-light {
    color: var(--light-60);
}

.text-white {
    color: #fff !important;
}

.text-gradient {
    background-color: transparent;
    background-image: linear-gradient(45deg, var(--primary), var(--success), var(--danger), var(--warn)) !important;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}


.border-primary {
    border: 1px solid var(--primary) !important;
}

.border-success {
    border: 1px solid var(--success) !important;
}

.border-danger {
    border: 1px solid var(--danger) !important;
}

.border-warn {
    border: 1px solid var(--warn) !important;
}

.border-dark {
    border: 1px solid var(--dark) !important;
}

.border-light {
    border: 1px solid var(--light) !important;
}

.border-gradient {
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(45deg, var(--primary), var(--success), var(--danger), var(--warn)) !important;
    z-index: 1;
    border: none;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: 2px;
        background: var(--bg);
        border-radius: inherit;
    }
}

.bg-primary {
    background: var(--primary) !important;
}

.bg-primary-80 {
    background: var(--primary-80) !important;
}

.bg-primary-60 {
    background: var(--primary-60) !important;
}

.bg-primary-40 {
    background: var(--primary-40) !important;
}

.bg-primary-20 {
    background: var(--primary-20) !important;
}

.bg-success {
    background: var(--success) !important;
}

.bg-success-80 {
    background: var(--success-80) !important;
}

.bg-success-60 {
    background: var(--success-60) !important;
}

.bg-success-40 {
    background: var(--success-40) !important;
}

.bg-success-20 {
    background: var(--success-20) !important;
}

.bg-danger {
    background: var(--danger) !important;
}

.bg-danger-80 {
    background: var(--danger-80) !important;
}

.bg-danger-60 {
    background: var(--danger-60) !important;
}

.bg-danger-40 {
    background: var(--danger-40) !important;
}

.bg-danger-20 {
    background: var(--danger-20) !important;
}

.bg-warn {
    background: var(--warn) !important;
}

.bg-warn-80 {
    background: var(--warn-80) !important;
}

.bg-warn-60 {
    background: var(--warn-60) !important;
}

.bg-warn-40 {
    background: var(--warn-40) !important;
}

.bg-warn-20 {
    background: var(--warn-20) !important;
}

.bg-dark {
    background: var(--dark) !important;
}

.bg-dark-80 {
    background: var(--dark-80) !important;
}

.bg-dark-60 {
    background: var(--dark-60) !important;
}

.bg-dark-40 {
    background: var(--dark-40) !important;
}

.bg-dark-20 {
    background: var(--dark-20) !important;
}

.bg-light {
    background: var(--light) !important;
}

.bg-light-80 {
    background: var(--light-80) !important;
}

.bg-light-60 {
    background: var(--light-60) !important;
}

.bg-light-40 {
    background: var(--light-40) !important;
}

.bg-light-20 {
    background: var(--light-20) !important;
}

.bg-slate {
    background: var(--slate-600) !important;
}

.bg-dd1 {
    background: var(--dd1) !important;
}

.bg-gray {
    background: var(--gray-600) !important;
}

.bg-zinc {
    background: var(--zinc-600) !important;
}

.bg-neutral {
    background: var(--neutral-600) !important;
}

.bg-stone {
    background: var(--stone-600) !important;
}

.bg-red {
    background: var(--red-600) !important;
}

.bg-orange {
    background: var(--orange-600) !important;
}

.bg-amber {
    background: var(--amber-600) !important;
}

.bg-yellow {
    background: var(--yellow-600) !important;
}

.bg-lime {
    background: var(--lime-600) !important;
}

.bg-green {
    background: var(--green-600) !important;
}

.bg-emerald {
    background: var(--emerald-600) !important;
}

.bg-teal {
    background: var(--teal-600) !important;
}

.bg-cyan {
    background: var(--cyan-600) !important;
}

.bg-sky {
    background: var(--sky-600) !important;
}

.bg-blue {
    background: var(--blue-600) !important;
}

.bg-indigo {
    background: var(--indigo-600) !important;
}

.bg-violet {
    background: var(--violet-600) !important;
}

.bg-purple {
    background: var(--purple-600) !important;
}

.bg-fuchsia {
    background: var(--fuchsia-600) !important;
}

.bg-pink {
    background: var(--pink-600) !important;
}

.bg-rose {
    background: var(--rose-600) !important;
}

.color-80 {
    opacity: .8;
    filter: opacity(80%);
}

.color-60 {
    opacity: .6;
    filter: opacity(60%);
}

.color-40 {
    opacity: .4;
    filter: opacity(40%);
}

.color-20 {
    opacity: .2;
    filter: opacity(20%);
}

.bg-lighten-1 {
    filter: saturate(80%);
}

.bg-lighten-2 {
    filter: saturate(60%);
}

.bg-lighten-3 {
    filter: saturate(40%);
}

.bg-lighten-4 {
    filter: saturate(20%);
}

.bg-lighten-5 {
    filter: saturate(0%);
}
