/**
 *  icons.css
 *
 *  Currently using Boxicons icons as an imported font https://boxicons.com/
*/

i {
    font-size: 2em !important;
    line-height: 1em;
}

i.dbl {
    clear: right !important;
    margin: 0 auto;
    margin-right: 0 !important;
}

