/**
 *  tabs-accordion.css
 *
 *  Tabs-accordion contains styles related to tabs, details, and slideshow components and related styles
*/

details {
    display: flex;
    width: 100%;
    margin-bottom: 0;
    transition: all .2s ease;

    & > summary {
        color: var(--light-60);
        background-color: var(--primary);
        cursor: pointer;
        padding: .5rem 1rem;
        caret-color: var(--bg) !important;
        border: 2px solid transparent;
        list-style-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"%3E%3Cpath fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" d="M10 19c4.438 0 8-3.526 8-7.964C18 6.598 14.438 3 10 3c-4.438 0-8 3.598-8 8.036S5.562 19 10 19zm-4-8h8m-4 4.056V7z"%2F%3E%3C%2Fsvg%3E');

        &:hover {
            background: var(--primary-80);
            color: var(--light);
            transform: translateY(-0.25em);
            box-shadow: 0 0.5em 1em var(--primary-40);
        }
    }

    &[open] > summary {
        list-style-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"%3E%3Cpath fill="none" stroke="rgba(0,255,255,0.5)" stroke-linecap="round" stroke-linejoin="round" d="M10 19c4.438 0 8-3.526 8-7.964C18 6.598 14.438 3 10 3c-4.438 0-8 3.598-8 8.036S5.562 19 10 19zm-4-8h8"%2F%3E%3C%2Fsvg%3E');
        color: var(--light) !important;
        border: 2px solid var(--primary) !important;
        filter: saturate(60%);
        margin-left: -0.5em;
        margin-right: -0.5em;
    }

    & > * {
        display: inline-flex;
    }

    & > p.content {
        color: var(--light-60);
        background: var(--bg);
        margin-top: 0;
        padding: 1rem;
        box-shadow: 0 0 0.5em var(--bg);
        animation: dropIn .5s ease-in-out;
    }
}
