/**
 *  tooltips.css
 *
 *  Tooltips includes styles related to the tooltips' positioning and styles
*/

.notifiable {
    position: relative;
    border: none;
    z-index: 1 !important;
    height: 32px !important;
    width: 32px !important;
    overflow: visible !important;
}

.notice {
    border: 2px solid var(--danger);
    display: block;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    align-content: center;
    content: '';
    color: #fff;
    font-size: 8px;
    line-height: 1.5em;
    position: absolute;
    left: 1px;
    top: 2px;
    background: var(--danger);
    border-radius: 100%;
    height: 15px;
    width: 15px;
    padding: 0 !important;
    margin: auto 0;
    margin-right: 2px;
    z-index: 999 !important;
}

/* new tooltip styles */

.tooltips {
    position: relative;
    border-bottom: 1px dashed var(--primary);

    &.has-icon {
        border-bottom: none !important;
    }

    &:before {
        content: attr(data-text); /* here's the magic */
        position: absolute;
        /* vertically center */
        top: 50%;
        transform: translateY(-50%);
        /* move to right */
        left: 100%;
        margin-left: 1em; /* and add a small left margin */
        /* basic styles */
        min-width: max-content;
        padding: 0.5em 0.75em;
        border-radius: $r-sm;
        background: var(--bg);
        color: var(--light);
        text-align: center;
        display: none; /* hide by default */
        opacity: 0;
        animation: .8s dropIn;
    }

    &:after {
        content: '';
        position: absolute;
        /* position tooltip correctly */
        right: 100%;
        margin-left: 0.5em;
        /* vertically center */
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        /* the arrow */
        border: 10px solid var(--card-bg);
        border-color: transparent var(--bg) transparent transparent;
        display: none;
        opacity: 0;
        animation: .8s dropIn;
    }

    &.lft:before {
        /* reset defaults */
        left: initial;
        margin: initial;
        /* set new values */
        right: 100%;
        margin-right: 20px;
        z-index: 999;
    }

    &.rght:before {
        /* reset defaults */
        left: initial;
        margin: initial;
        /* set new values */
        left: 100%;
        margin-left: calc(2em - 1px);
        z-index: 999;
    }

    &.rght:after {
        left: 100% !important;
        transform: translateY(-50%) rotate(0deg);
    }

    &.top:before {
        /* reset defaults */
        left: initial;
        margin: initial;
        /* set new values */
        top: -2em;
        right: 0;
        margin: 0;
        z-index: 999;
    }

    &.btm:after {
        border-color: transparent transparent var(--bg) transparent !important;
        left: -10px !important;
        transform: translateY(0);
    }

    &.btm:before {
        /* reset defaults */
        left: initial;
        margin: initial;
        /* set new values */
        top: calc(3em + 5px);
        right: 0;
        margin: 0;
        z-index: 999;
    }

    &.top:after {
        border-color: var(--bg) transparent transparent transparent !important;
        left: -10px !important;
        transform: translateY(-100%);
    }

    &:hover:before {
        opacity: 1;
        display: block !important;
    }

    &:hover:after {
        opacity: 1;
        display: block !important;
    }
}
