/**
 *  tooltips.css
 *
 *  Tooltips includes styles related to the tooltip, carets, positioning, and styles
*/

.tooltip {
    background: transparent;
    box-shadow: none !important;
    overflow: visible !important;

    &.popover {
        background: var(--card-bg) !important;
    }

    & > span {
        margin-left: -1.5em !important;
    }

    & > .top-caret {
        content: '';
        position: relative;
        top: -2.85em;
        left: calc(50% + 1em);
        background: var(--bg);
        margin: 0 auto;
        border-top: 8px solid var(--card-bg);
        border-bottom: 8px solid var(--bg);
        border-left: 8px solid var(--card-bg);
        border-right: 8px solid var(--card-bg);
        z-index: 200 !important;
        width: 0px !important;
        height: 0px !important;
    }

    & > .bottom-caret {
        content: '';
        position: relative;
        top: 2.75em;
        left: calc(50% + 1em);
        background: var(--bg);
        margin: 0 auto;
        border-top: 8px solid var(--bg);
        border-bottom: 8px solid var(--card-bg);
        border-left: 8px solid var(--card-bg);
        border-right: 8px solid var(--card-bg);
        z-index: 2;
        width: 0px !important;
        height: 0px !important;
    }

    &.right {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
    }

    &.lft {
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
    }

    &.tip {
        color: var(--light);

        &:hover > i {
            color: var(--primary) !important;
        }

        &:hover ~ button.popover {
            display: inline-flex !important;
        }
    }
}

.notifiable {
    position: relative;
    border: none;
    z-index: 1 !important;
    height: 32px !important;
    width: 32px !important;
    overflow: visible !important;
}

.notice {
    border: 2px solid var(--danger);
    display: block;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    align-content: center;
    content: '';
    color: #fff;
    font-size: 8px;
    line-height: 1.5em;
    position: absolute;
    left: 1px;
    top: 2px;
    background: var(--danger);
    border-radius: 100%;
    height: 15px;
    width: 15px;
    padding: 0 !important;
    margin: auto 0;
    margin-right: 2px;
    z-index: 200 !important;
}
