/**
 *  typography.css
 *
 *  Typgraphy includes headers, text and paragraph formatting styles and font sizing
*/


h1 {
    font-family: "Lato", "Inter", "Avenir", Helvetica, Arial, sans-serif !important;
    font-size: 4em;
    line-height: 1em;
    letter-spacing: 0.0125em;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: 0.0125em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 2em;
    line-height: 1em;
    letter-spacing: 0.0125em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.0125em;
    margin-bottom: 1em;
}

h5 {
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.0125em;
    margin-bottom: 1em;
}

h6 {
    font-size: 0.75em;
    line-height: 1em;
    letter-spacing: 0.0125em;
    margin-bottom: 1em;
}

.hl {
    color: var(--primary);
    text-shadow: 0 0 0.25em var(--bg);
}


.lead,
strong {
    font-weight: 600 !important;
    color: #fff;
}

.text-sm {
    color: var(--light-60);
    font-size: var(--text-sm);
}

.capitalize {
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-weight: 300;
}

code,
.text-code {
    font-size: 12px;
    background: var(--bg);
    letter-spacing: 0.1em;
    line-height: 0.75em !important;
    padding: 2px 8px;
    font-family: monospace !important;

    &.code--box {
        font-size: 16px;
        padding: 2em !important;
        border-radius: calc(2 * var(--r));
    }
}

blockquote {
    font-size: 1.5em;
    font-weight: 500;
}

.label {
    display: flex;
    flex-flow: row wrap;
    border-left: 2px solid var(--primary);
    padding: 0.5em 1em;
    color: var(--light-60);
}

p {
    display: block;
    margin-bottom: 1em;

    &.sm {
        font-size: 14px;
    }

    &.lg {
        font-size: 1.5em;
    }
}

h3 > .bx {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.number {
    border: 2px solid var(--primary);
    border-radius: 100%;
    padding: 0;
    font-size: 2em;
    font-weight: 600;
    height: 2em;
    width: 2em;
    margin: 0 auto;
    line-height: 2em;
}

.step {
    display: flex !important;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    min-width: 200px;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    line-height: 2em;

    & > h4 {
        margin: 0 auto;
        flex: 0 1 auto;
    }

    &.number {
        border-color: var(--primary) !important;
        height: 2em !important;
        width: 2em !important;
        font-size: 2em !important;
        margin: 0 2em 0 0;
    }
}

.tag {
    background: var(--primary);
    color: #fff;
    padding: 0.125em 2em;
    border-radius: 0.25em;
}

.date {
    padding: 0 1em;
}

cite {
    display: inline-flex;
    margin: 0 auto;
    padding: 0 3em;
}

.no-pad {
    padding: 0 !important;
}

.socials {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

    & > * {
        font-size: 1em;
        margin-right: 1em !important;
        box-shadow: none;

        &:last-child {
            margin-right: 0 !important;
        }
    }
}
